.login_container {
  height: 100vh;
  background-color: #bcc0d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form {
    padding: 30px 30px;
    background-color: white;

    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .form__body {
      margin-top: 20px;

      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .form__input {
          padding: 10px;
        }

        .form__button {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
